.sidebar {
    border-radius: 2rem;
    background-image: url('https://conedevel.com/sprucecss/auth-background.png');
    background-position: center;
    background-size: cover;
    min-block-size: 10rem;
}
